@import './src/colors.scss';

@media screen and (min-aspect-ratio: 13/9) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    padding: 0 20vw;
    scroll-behavior: smooth;
    overflow: auto;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    height: 100%;

    & > .infoForecast {
      display: flex;
      margin-top: 40px;
      width: 100%;
      justify-content: center;
      flex-direction: column;

      :first-child.weather-wrap {
        box-shadow: none !important;
      }

      .search-bar {
        position: fixed;
        top: 10px;
        width: calc(100vw - 2 * 20vw);
      }

      & .search-bar:focus {
        width: calc(100vw - 2 * 20vw) !important;
      }

      & > .contentContainer {
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        .weather-wrap {
          display: flex;
          padding: 0 2%;
          border-radius: 6px;
          background: transparent;
          box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
          flex-direction: column;

          @media screen and (max-width: 683px) {
            & > .secondWeatherWindow {
              font-size: 1.7rem !important;
              padding: 5px 5px !important;
            }
          }

          & > .secondWeatherWindow {
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            text-align: left;
            border-bottom: 1px solid $whitish;

            & > * {
              font-family: Nunito-Regular, sans-serif;
            }
          }

          & > .secondWeatherWindow:last-child {
            border-bottom: none;
          }

          & > .location-box {

            & > .location {
              color: white;
              font-size: 1.4em;
              font-weight: 600;
              text-align: center;
            }

            & > .date {
              color: white;
              font-size: 1.4rem;
              text-align: center;
              font-style: italic;
            }

            & > .alert {
              color: #9cdb14;
              font-size: 1.3rem;
              text-align: center;
              font-style: italic;
            }
          }

          & > .weather-box {
            display: flex;
            justify-content: space-between;
            text-align: left;
            flex-direction: column;

            & .temp {
              color: black;
              display: inline-block;
              padding: 0 15px;
              align-items: center;
              font-size: 5rem;
              border-radius: 6px;
              box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
            }

            & .weather {
              color: whitesmoke;
              grid-template-columns: auto 50%;
              align-items: center;
              font-size: 2.5rem;
              padding: 2px;
              font-weight: 700;
              justify-content: center;
              display: flex;
              & > img {
                margin-left: 10px;
                height: 10vh;
              }
            }
          }
        }
      }

      :nth-child(2).weather-wrap {
        display: grid;
        grid-template-rows: auto auto auto;

        & > .secondWeatherWindow {
          padding: 0 10px;
        }
      }

      .error {
        width: 100vw;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        justify-content: space-evenly;
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.8) 0%, rgba(154, 153, 167, 0.8) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(139, 138, 154, 0.8) 80%, rgba(2, 0, 36, 0.8) 100%);

        & .handIcon {
          height: 100%;
          margin: 0 10px 0 0;
          font-size: 3rem;
          transition: transform .7s ease-in-out;
        }

        & .handIcon:hover {
          transform: rotate(360deg);
        }

        & p {
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          font-size: 2rem !important;
        }
      }
    }

    & .chartPage {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 50vh;
      flex-direction: column;

      & > .buttonContainer {
        width: 100%;
        display: flex;

        & > button {
          width: 100%;
          background-color: #cccccc;
          margin: 0;
          font-size: 1.5rem;
        }
      }

      & > .tableAndTitleContainer {
        background-color: $whitish;
        padding: 5px 0 0 0;
      }

      p {
        color: black !important;
        padding: 0 0 5px 0;
        font-size: 1.2rem;
      }

      & button {
        border: none;
        outline: none;
        user-select: none;
        cursor: pointer;
        margin: 0 2px;
      }

      & .selectedNextChartButton {
        color: black;
        background-color: white !important;
      }

      & .chartButtons {
        min-height: 40px;

        & button {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.8rem
      }

    }
  }

  .highcharts-data-label {
    & > * {
      font-size: 1.3rem !important;
    }
  }
  .highcharts-xaxis-labels {
    & > * {
      fill: black !important;
      font-size: 1.3rem !important;
    }
  }

}
